@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  flex-grow: 1;
}
/* Untuk browser yang tidak support styling option */
.dark-select option {
  background-color: #4a5568 !important;
  color: white !important;
}

.dark-select::-ms-expand {
  color: white;
}
